/* *{
    border: 3px solid green
} */

/* .mainContent {
    display:flex;
} */

.data {
    display: flex;
    color: red;
    flex-direction: column;
    border: 3px solid green;
}

.gameArea {
    display: flex;
    flex-direction: column;
    color: blue;
    border: 3px solid blue;
}

.teamSelections {
    display: flex;
    flex-direction: column;
    width: 20%;
}
